<div class="container mt-5">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-header bg-dark text-white">
          <h4 class="text-center">Üye Giriş Ekranı</h4>
        </div>
        <div class="card-body bg-warning text-white">
          <div class="input-group">
            <span class="input-group-text">E-Posta</span>
            <input type="text" class="form-control" #mail />
          </div>
          <div class="input-group mt-3">
            <span class="input-group-text">Parola</span>
            <input type="password" class="form-control" #parola />
          </div>
        </div>
        <div class="card-footer bg-warning text-white">
          <button
            class="btn btn-success"
            (click)="OturumAc(mail.value, parola.value)"
          >
            Giriş
          </button>
          <button class="btn btn-primary ms-1" [routerLink]="['/signup']">
            Üye Ol
          </button>
          <button class="btn btn-light ms-1" (click)="GoogleOturumAc()">
            <img src="../assets/google.png" width="30px" height="20px" />Google
            İle Giriş Yap
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
