<div class="container">
  <div class="row">
    <div class="col-md-6 mt-3">
      <h1 class="mt-3">Mevcut Talepler</h1>
      <table class="table table-sm">
        <thead class="bg-primary text-white">
          <th>Kim Talep Etti?</th>
          <th>Araba Adı</th>
          <th>Kiralama Tarihi</th>
          <th>İade Tarihi</th>
          <th>Tamamla</th>
          <th>Sil</th>
        </thead>
        <tbody>
          <tr *ngFor="let talep of mevcutTalepler">
            <td>{{ talep.talepkim }}</td>
            <td>{{ talep.arabaadi }}</td>
            <td>{{ talep.kirtarih }}</td>
            <td>{{ talep.iadetarih }}</td>
            <td>
              <button
                class="btn btn-outline-primary btn-sm ms-2"
                (click)="TamamIptal(talep, true)"
              >
                Tamamla
              </button>
            </td>
            <td>
              <button
                class="btn btn-outline-danger btn-sm ms-2"
                (click)="Sil(talep)"
              >
                Sil
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-6 mt-3">
      <h1 class="mt-3">Tamamlanan Talepler</h1>
      <table class="table table-sm">
        <thead class="bg-primary text-white">
          <th>Kim Talep Etti</th>
          <th>Araba Adı</th>
          <th>Kiralama Tarihi</th>
          <th>İade Tarihi</th>
          <th>Tamamla</th>
        </thead>
        <tbody>
          <tr *ngFor="let talep of tamamTalepler">
            <td>{{ talep.talepkim }}</td>
            <td>{{ talep.arabaadi }}</td>
            <td>{{ talep.kirtarih }}</td>
            <td>{{ talep.iadetarih }}</td>
            <td>
              <button
                class="btn btn-outline-primary btn-sm ms-2"
                (click)="TamamIptal(talep, false)"
              >
                İptal Et
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
